:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.mat-datepicker-content {
  height: 320px !important;
  box-shadow: unset !important;
  border:unset ;
}

